#browse {
  // background: white;

  .btn-xl {
    margin-top: 20px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33333;
    border-radius: 6px;
  }

  .button_with_subtext {
    font-size: 9px;
  }
}