<section id="petition">
  <h1>The Matter</h1>
  <div class="row">
    <div class="col-sm-8 col-lg-8">
      <h3>{{petition.title}}</h3>
      <div class="row">
        <div class="col-xs-12 col-md-3">
            <div fb-like="socialPage.Url"></div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div tweet="socialPage.Name" tweet-url="socialPage.Url"></div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div google-plus="socialPage.Url"></div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div pin-it="socialPage.Name" pin-it-image="socialPage.ImageUrl" pin-it-url="socialPage.Url"></div>
        </div>
      </div>



      <!-- <div class="fb-like" id="fb"
        data-href="http://loc.co/petition/" 
        data-layout="standard" 
        data-action="recommend" 
        data-show-faces="true" 
        data-share="true"
        data-width="500">
      </div> -->
      <p>{{petition.description}}</p>
    </div>
    <div class="col-sm-4 col-lg-4">
      <h3>Target</h3>
      <rep-thumbnail rep="rep"></rep-thumbnail>
      <button class="btn btn-danger" ng-click="signed()">Sign On</button>
      <hr>
      <button class="btn btn-warning" ng-click="donate()">Contribute</button>
    </div>
  </div>
</section>